html,
body {
  font-family: $font-family;
  font-size: $font-size--base;
  line-height: $line-height--base;
  font-weight: normal;
  margin: 0;
  padding: 0;
  min-width: fit-content;
}

html {
  height: 100%;
}

body {
  background-color: map-get($colors, 'pureDark');
}
