// -- Fonts 🖨 --
$font-family: 'Butler', 'Roboto', 'Open Sans', 'Helvetica', 'Arial', 'serif';

// -- Text 🆎 --
$font-size--base: 10px;
$font-size--section-title: 2rem;
$font-size--h1-title: 10rem;
$font-size--h2-title: 8rem;
$font-size--h3-title: 3rem;
$font-size--section: 5rem;
$font-size--p-normal: 3.5rem;

$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--semibold: 500;
$font-weight--bold: 700;

// Line height
$line-height--base: 1.6;
$line-height--h1-title: 8rem;
$line-height--section: 6rem;

%title-text {
  font-family: $font-family;
  font-weight: $font-weight--bold;
  font-size: $font-size--h1-title;
  line-height: $line-height--h1-title;
}

%subtitle-text {
  font-family: $font-family;
  font-weight: $font-weight--light;
  font-size: $font-size--h2-title;
  line-height: $line-height--h1-title;
}

%section-title {
  font-family: $font-family;
  font-weight: $font-weight--light;
  font-size: $font-size--h3-title;
}

%section-text {
  font-family: $font-family;
  font-weight: $font-weight--light;
  font-size: $font-size--section;
  line-height: $line-height--section;
}

%normal-text {
  font-family: $font-family;
  font-size: $font-size--p-normal;
  font-weight: $font-weight--regular;
}

%button-text {
  font-family: $font-family;
  font-weight: $font-weight--bold;
}

// -- Border radius 🟠 --

$border-radius--default: 1.3rem;

// -- Colors 🌈 --
$colors: (
  pureDark: #000000,
  pureWhite: #ffffffff,
  mineShaft: #1f1f1f,
  appleBlossom: #ac3c44,
  yellowOrange: #ffa745,
  lightPink: #fe869f,
  persianPink: #ef7ac8,
  purplePortage: #a083ed,
  dodgerBlue: #43aeff,
  spotifyGreen: #1db954,
  codGray: #f0f0f0,
);

$bg--light: map-get($colors, 'pureWhite');
$bg--dark: map-get($colors, 'pureDark');
$text--light: map-get($colors, 'pureDark');
$text--dark: map-get($colors, 'pureWhite');
$text--green: map-get($colors, 'spotifyGreen');

///////////////

@font-face {
  font-family: 'Butler';
  src: url('/fonts/Butler-UltraLight.woff2') format('woff2'),
    url('/fonts/Butler-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('/fonts/Butler-Medium.woff2') format('woff2'),
    url('/fonts/Butler-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('/fonts/Butler-Light.woff2') format('woff2'),
    url('/fonts/Butler-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('/fonts/Butler-Black.woff2') format('woff2'),
    url('/fonts/Butler-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('/fonts/Butler-Bold.woff2') format('woff2'),
    url('/fonts/Butler-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('/fonts/Butler-ExtraBold.woff2') format('woff2'),
    url('/fonts/Butler-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('/fonts/Butler.woff2') format('woff2'),
    url('/fonts/Butler.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
