.fullname {
  display: flex;
  flex-direction: column;

  @extend %title-text;
  color: map-get($colors, 'pureWhite');
  margin-bottom: 2rem;
  @include respond-to(sm) {
    font-size: 20rem;
    line-height: 20rem;
  }

  & > .firstname {
    margin-bottom: 5rem;
    @include respond-to(sm) {
      margin-bottom: 2.5rem;
    }
  }
  //   .lastname {
  //   }
}

.job {
  @extend %subtitle-text;
  color: map-get($colors, 'pureWhite');

  @include respond-to(sm) {
    margin: 8rem 0 2.5rem;
    font-size: 14rem;
    line-height: 1;
  }
}
