.job-wrapper {
  margin: 3rem 0;
  color: map-get($colors, 'pureWhite');
  @extend %section-text;

  @include respond-to(sm) {
    font-size: 10rem;
    line-height: 15rem;
  }

  & > .memberOf-wrapper {
    & a > .company-name {
      font-weight: $font-weight--bold;
    }
    display: flex;
    @include respond-to(sm) {
      flex-direction: column;
    }
  }
}
