.worked-for__wrapper {
  margin-top: 5rem;
  & > h3 {
    @extend %section-title;
    color: map-get($colors, 'pureWhite');
    margin-bottom: 2.5rem;
    @include respond-to(sm) {
      font-size: 10rem;
      line-height: 15rem;
    }
  }

  & > .logos__wrapper {
    display: flex;

    & > .logo__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: fit-content;
      margin: 0 2.5rem 0 0;
      @include respond-to(sm) {
        margin: 0 4rem 0 0;
      }

      & > a > svg {
        transition: all 0.2s ease-in-out;
        height: 5rem;

        @include respond-to(sm) {
          height: 20rem;
        }

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
